body{
    background-color:  #484d4d;
    color: white;
}
.tableau{
    text-align: center;
} 

/* page index 
.bouton{
    text-align: center;
    color: white;
    background-color: black;
}
.titre{
    text-align: center;
    color: white;
    background-color: black;
}*/


/*section{
    text-align: center;
    color: white;
    background-color: black;
}*/


/*Barre navigation (squelette)*/
.navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2e8a72;
    display: flex;
    font-size: 30px;
    justify-content: space-around;
}

.navbar li{
    float: left;
      
}

.navbar a{
    display: block;
    color: black;
    text-align: center;
    padding: 20px 24px;
    text-decoration: none;
}

.navbar .clic:hover{
    background-color: #3bab8e;
}