{% extends "webapp/squelette.html" %}

        {% block content %}
    <h1 class="titre">Ajouter un film</h1>
    {% if user.is_authenticated %}
    <section>
        <form method="post" action="/webapp/traitement_film/">
            {% csrf_token %}
            {{ form.as_ul }} <!-- permet d'afficher tous les champs sous forme d'une liste
    -->
            <input type="submit" value="envoyer les données"\>
            <a href='/webapp/index'class="bouton">Retour à l'accueil</a>
        </form>
    {% else %}
        <p>Vous devez être connecté pour créer une notation</p>
    {% endif %}
    </section>
</body>
</html>
{% endblock %}