{% extends "webapp/squelette.html" %}

        {% block content %}
        <H2 class="titre">Accueil</h2>
        </section>
        <section class="bouton">
            <a href='/webapp/recherche'class="bouton">Rechercher un films</a>
            <a href='/webapp/best'class="bouton">Voir les films les mieux notés</a>
            <a href='/webapp/show_cat'class='bouton'>Visualiser les catégories</a>
            <a href='/webapp/show_act'class='bouton'>Visualiser les acteurs</a>
        </section>
        
        {% endblock %}
