{% extends "webapp/squelette.html" %}

        {% block content %}
        <H1 class="titre">Accueil</h1>
        <p>Tout ceci est un test. lol. comment vas-tu ? cadavre bonsoir retest. Texte a rallonger pour avoir une idee de l'endroit ou tout cela ira. J'en ai marre pleurons tous 
            ensemble et sacrifions un prof, je sais pas encore le quelle. ok c'est pas assez long donc on continue: AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA. Ta gueule sac à crotte
            Bienvenue dans ce site qui vous ai offert grâce à la SAE DJANGO. mort mort mort mort mort mort mort mort mmort mort mort mort mort mort mort mort mort mort mort mort mmort
            mort mort mort mort mort a tfgizleufhzoieghpagjiozuehferghzoeiefhaptfgjzgh</p>
        
        {% endblock %}
