{% extends "webapp/squelette.html" %}

        {% block content %}
        <H2 class="titre">Accueil</h2>
        <section class="bouton">
            <a href='/webapp/recherche'class="bouton">Rechercher un films</a>
            <a href='/webapp/best'class="bouton">Voir les films les mieux notés</a>
            <a href='/webapp/show_cat'class='bouton'>Visualiser les catégories</a>
            <a href='/webapp/show_act'class='bouton'>Visualiser les acteurs</a>
            <a href='/webapp/show_real'class='bouton'>Visualiser les réalisateurs</a>
            <a href='/webapp/show_film'class='bouton'>Visualiser les films</a>
        
        </section>
        <p>Tout ceci est un test. lol. comment vas-tu ? cadavre bonsoir retest. Texte a rallonger pour avoir une idee de l'endroit ou tout cela ira. J'en ai marre pleurons tous 
            ensemble et sacrifions un prof, je sais pas encore le quelle. ok c'est pas assez long donc on continue: AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
            AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA</p>
        
        {% endblock %}
