{% extends "webapp/squelette.html" %}

        {% block content %}
    <h3 class="titre">Connexion utilisateur</h3>
    </section>
<section>
    <form action="/webapp/connexion/" method="post">
        {% csrf_token %}
  
      <input type="user" placeholder="user" name="mail"/>
      <input type="password" placeholder="password" name="password  "/>
      <input type="submit" hidden />
      <input type="submit" value="envoyer les données"\>
    </form>
</section>
</section>
</body>
</html>
{% endblock %}