<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>{% block title %}SAE23 - Filmographie{% endblock %} </title> <!-- Pour le Titre -->
        <link rel="stylesheet" type="text/css" href='{%static "webapp/index.css" %}'>
        <section class="titre">
        <!--<h1 class="titre">Filmographie </h1>
        <h2 class="titre">Base de données de films avec leurs notes.</h2>-->
    </head>
    <header>
        <!--Barre de navigation-->
        <ul class="navbar">
            <il><a href="/webapp/index/">FILMOGRAPHIE</a></il>
            <il><a href="/webapp/index/" class="clic">Accueil</a></il>
            <il><a href="/webapp/recherche" class="clic">Rechercher un film</a></il>
            <il><a href="/webapp/best" class="clic">Voir les films les mieux notés</a></il>
            <il><a href="/webapp/ajout_categorie" class="clic">Ajouter une catégorie</a></il>
            <il><a href="/webapp/ajout_utilisateur" class="clic">Inscription</a></il>
            <il><a href="/webapp/connexion" class="clic">Connexion</a></il>
        </ul>
    </header>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>





