<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>{% block title %}SAE23 - Filmographie{% endblock %} </title> <!-- Pour le Titre -->
        <link rel="stylesheet" type="text/css" href='{%static "webapp/squelette.css" %}'>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poppins:wght@200;400&display=swap');
        </style> 
        <section class="titre">
    </head>
    <header>
        <!--Barre de navigation-->
        <ul class="navbar">
            <il style="font-family: 'Kdam Thmor Pro', sans-serif; text-decoration: underline overline; text-decoration-color: black;"><a href="/webapp/index/">FILMOGRAPHIE</a></il>
            <il><a href="/webapp/index/" class="clic">Accueil</a></il>
            <il><a href="/webapp/recherche" class="clic">Rechercher un film</a></il>
            <il><a href="/webapp/best" class="clic">Voir les films les mieux notés</a></il>
            <il><a href="/webapp/ajout_categorie" class="clic">Ajouter une catégorie</a></il>
        </ul>
    </header>
    <body>
        <div class=contenu>
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <!--Pied de page-->
    <footer>
        <p class=gauche>FILMOGRAPHIE<br>Répertoire cinématographique</p>
        <p class=droite>Victor UETTWILLER<br>Emilie GUILHOT</p>
    </footer>
</html>