<html>
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <title>{% block title %}SAE23 - Filmographie{% endblock %} </title> <!-- Pour le Titre -->
        <link rel="stylesheet" type="text/css" href='{%static "webapp/squelette.css" %}'>
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&family=Poppins:wght@200;400&display=swap');
        </style> 
        <section class="titre">
    </head>
    <header>
        <!--Barre de navigation-->
        <nav>
            <ul class="navbar">
                <li style="font-family: 'Kdam Thmor Pro', sans-serif; text-decoration: underline overline; text-decoration-color: black;"><a href="/webapp/index/">FILMOGRAPHIE</a></li>
                <li><a href="/webapp/index/" class="clic">Accueil</a></li>
                <li>
                    <a href="#" class="clic">Répertoire</a>
                    <ul>
                        <li><a href="/webapp/show_film" class="clic">Films</a></li>
                        <li><a href="/webapp/show_cat" class="clic">Catégories</a></li>
                        <li><a href="/webapp/show_act" class="clic">Acteurs</a></li>
                        <li><a href="/webapp/show_real" class="clic">Réalisateurs</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="clic">Ajouter</a>
                    <ul>
                        <li><a href="/webapp/ajout_categorie" class="clic">Catégories</a></li>
                        <li><a href="/webapp/ajout_acteur" class="clic">Acteurs</a></li>
                    </ul>
                </li>
                <li><a href="/webapp/ajout_utilisateur" class="clic">Inscription</a></li>
                <li><a href="/webapp/connexion" class="clic">Connexion</a></li>
            </ul>
        </nav>
    </header>
    <body>
        <div class=contenu>
            {% block content %}
            {% endblock %}
        </div>
    </body>
    <!--Pied de page-->
    <footer>
        <p class=gauche>FILMOGRAPHIE<br>Répertoire cinématographique</p>
        <p class=droite>Victor UETTWILLER<br>Emilie GUILHOT</p>
    </footer>
</html>